.navigation-root{
  height: 60px;
  background: #201f1c;
}

a{
  color: #d2d1d1;
}

.navigation-link:hover{
  transition: all 0.2s ease-in;
  background: #393636;
}

.navigation-link:hover a{
  transition: all 0.2s ease-in;
  color: white;
}